Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

refactor: Use tailwind css and display version and git sha in footer
  src/frontend/app/assets/react.svg
  src/frontend/app/components/PageLayout.css
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/components/SiteFooter.tsx
  src/frontend/app/root.tsx
  src/frontend/app/routes/home.css
  src/frontend/app/routes/home.tsx
  src/frontend/app/vite-env.d.ts
  src/frontend/cspell.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vite.config.ts
Labels: frontend

fix: Test
  src/frontend/test/pages/index.test.tsx
Labels: frontend

refactor: Use tailwind css and display version and git sha in footer (#988)
  src/frontend/app/assets/react.svg
  src/frontend/app/components/PageLayout.css
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/components/SiteFooter.tsx
  src/frontend/app/root.tsx
  src/frontend/app/routes/home.css
  src/frontend/app/routes/home.tsx
  src/frontend/app/vite-env.d.ts
  src/frontend/cspell.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/pages/index.test.tsx
  src/frontend/vite.config.ts
Labels: frontend

fix: Display leaderboard when game is finished
  src/frontend/app/components/game/mario/LeaderboardOverlay.tsx
  src/frontend/app/components/game/mario/MarioGame.tsx
Labels: frontend

feat: Longer levels
  src/frontend/app/components/game/mario/levels/world-1-1.ts
  src/frontend/app/components/game/mario/levels/world-1-2.ts
  src/frontend/app/components/game/mario/levels/world-1-3.ts
Labels: frontend

feat: Add second theme
  src/frontend/app/assets/comment_bubble.png
  src/frontend/app/assets/koopa_parliament.png
  src/frontend/app/assets/piranha_parliament.png
  src/frontend/app/components/game/mario/MarioGame.tsx
  src/frontend/app/components/game/mario/mario-game-canvas.ts
  src/frontend/app/components/game/mario/mario-game-logic.ts
  src/frontend/app/components/game/mario/mario-sprites.ts
  src/frontend/app/components/game/mario/mario-types.ts
  src/frontend/app/routes/home.tsx
  src/frontend/cspell.json
Labels: frontend

fix: Display leaderboard when game is finished (#989)
  src/frontend/app/assets/comment_bubble.png
  src/frontend/app/assets/koopa_parliament.png
  src/frontend/app/assets/piranha_parliament.png
  src/frontend/app/components/game/mario/LeaderboardOverlay.tsx
  src/frontend/app/components/game/mario/MarioGame.tsx
  src/frontend/app/components/game/mario/levels/world-1-1.ts
  src/frontend/app/components/game/mario/levels/world-1-2.ts
  src/frontend/app/components/game/mario/levels/world-1-3.ts
  src/frontend/app/components/game/mario/mario-game-canvas.ts
  src/frontend/app/components/game/mario/mario-game-logic.ts
  src/frontend/app/components/game/mario/mario-sprites.ts
  src/frontend/app/components/game/mario/mario-types.ts
  src/frontend/app/routes/home.tsx
  src/frontend/cspell.json
Labels: frontend

feat: Add poutine workflow
  .github/workflows/poutine.yml
Labels: workflow

fix: CI should run on all changes
  .github/workflows/ci.yml
Labels: workflow

feat: Add poutine workflow (#990)
  .github/workflows/ci.yml
  .github/workflows/poutine.yml
Labels: workflow

fix: Add attestation permissions and trx package
  .github/workflows/api-container.yml
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow

fix: Add attestation permissions and trx package (#991)
  .github/workflows/api-container.yml
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow

fix: Update dependabot configuration for GitHub Actions directory path
  .github/dependabot.yml
Labels: github

fix: Update dependabot configuration for GitHub Actions directory path (#1004)
  .github/dependabot.yml
Labels: github

chore: disable grype fail build in frontend container workflow temporarily
  .github/workflows/frontend-container.yml
Labels: workflow

chore: disable grype fail build in frontend container workflow tempor… (#1005)
  .github/workflows/frontend-container.yml
Labels: workflow

chore: update GitHub Actions permissions in workflows
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
Labels: workflow

chore: update GitHub Actions permissions in workflows (#1006)
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
Labels: workflow

feat: enhance public runtime configuration for API base URL
  src/frontend/app/api/mutators/custom-instance.ts
  src/frontend/app/public-runtime-config.ts
  src/frontend/app/root.tsx
  src/frontend/app/vite-env.d.ts
Labels: frontend

feat: Prefix api with path /api/v1
  src/backend/ApiClient/WebApiClient.cs
  src/backend/WebApi/Controllers/BloggingController.cs
  src/backend/WebApi/Controllers/SendMessageController.cs
  src/backend/WebApi/Controllers/ServiceController.cs
  src/backend/WebApi/Controllers/WeatherForecastController.cs
  src/backend/WebApi/swagger.json
  src/frontend/app/api/endpoints/blogging/blogging.msw.ts
  src/frontend/app/api/endpoints/blogging/blogging.ts
  src/frontend/app/api/endpoints/send-message/send-message.msw.ts
  src/frontend/app/api/endpoints/send-message/send-message.ts
  src/frontend/app/api/endpoints/service/service.msw.ts
  src/frontend/app/api/endpoints/service/service.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.msw.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.ts
  src/frontend/app/api/models/postDto.ts
  src/frontend/app/api/models/versionInformation.ts
  src/frontend/app/api/models/weatherForecast.ts
Labels: backend, frontend

chore: Remove dotnet auto instrumentation and add log exporter
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/entrypoint.sh
  src/backend/WebApi/packages.lock.json
  src/backend/docker-compose.dcproj
  src/backend/docker-compose.override.yml
  src/backend/docker-compose.yml
  src/backend/otel-config.yaml
  src/backend/otel-dotnet.env
Labels: backend, dependencies

feat: Add OpenTelemetry instrumentation for Entity Framework Core and RabbitMQ
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/swagger.json
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend

chore: Update packages.lock
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

feat: Enhance API response handling and add Problem Details support
  src/backend/WebApi/Controllers/BloggingController.cs
  src/backend/WebApi/Controllers/SendMessageController.cs
  src/backend/WebApi/Controllers/ServiceController.cs
  src/backend/WebApi/Controllers/WeatherForecastController.cs
  src/backend/WebApi/Middleware/ProduceResponseTypeModelProvider.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/swagger.json
  src/frontend/app/api/endpoints/blogging/blogging.msw.ts
  src/frontend/app/api/endpoints/blogging/blogging.ts
  src/frontend/app/api/endpoints/send-message/send-message.msw.ts
  src/frontend/app/api/endpoints/send-message/send-message.ts
  src/frontend/app/api/endpoints/service/service.msw.ts
  src/frontend/app/api/endpoints/service/service.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.msw.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.ts
  src/frontend/app/api/models/blogDto.ts
  src/frontend/app/api/models/index.ts
  src/frontend/app/api/models/postDto.ts
  src/frontend/app/api/models/stringGenericValue.ts
  src/frontend/app/api/models/versionInformation.ts
  src/frontend/app/api/models/weatherForecast.ts
  src/frontend/app/public-runtime-config.ts
  src/frontend/app/routes/home.tsx
Labels: backend, frontend

refactor: Update controller tests to use TypedResults
  tests/backend/WebApi.Tests/Controllers/BloggingControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/SendMessageControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/ServiceControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/WeatherForecastControllerTests.cs
Labels: none

refactor: Improve blog data handling with type safety
  src/frontend/app/api/unwrap-orval-body.ts
  src/frontend/app/routes/blogs.$id.tsx
  src/frontend/app/routes/blogs.tsx
Labels: frontend

chore(deps): update dependencies in package.json and package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

chore(deps): remove vite-tsconfig-paths from package.json and package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vite.config.ts
Labels: frontend

feat: Update vite and related packages (#1011)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vite.config.ts
Labels: frontend

chore(deps): update @types/node, prettier, and undici-types to latest versions
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: playwright

chore(deps): update @types/node, prettier, and undici-types to latest versions
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: playwright

chore(deps): update @types/node, prettier, and undici-types to latest… (#1015)
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: playwright

refactor: update configuration for database and RabbitMQ settings
  src/backend/README.md
  src/backend/WebApi/Messaging/IRabbitMqConnectionFactory.cs
  src/backend/WebApi/Messaging/MessageReceiver.cs
  src/backend/WebApi/Messaging/MessageSender.cs
  src/backend/WebApi/Messaging/RabbitMqConnectionFactory.cs
  src/backend/WebApi/Messaging/RabbitMqHelper.cs
  src/backend/WebApi/Options/OpenTelemetryEndpointResolver.cs
  src/backend/WebApi/Options/RabbitMqOptions.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/appsettings.json
  src/backend/docker-compose.yml
  tests/backend/WebApi.Tests/Messaging/RabbitMqTests.cs
Labels: documentation, backend

refactor: update configuration for database and RabbitMQ settings (#1018)
  src/backend/README.md
  src/backend/WebApi/Messaging/IRabbitMqConnectionFactory.cs
  src/backend/WebApi/Messaging/MessageReceiver.cs
  src/backend/WebApi/Messaging/MessageSender.cs
  src/backend/WebApi/Messaging/RabbitMqConnectionFactory.cs
  src/backend/WebApi/Messaging/RabbitMqHelper.cs
  src/backend/WebApi/Options/OpenTelemetryEndpointResolver.cs
  src/backend/WebApi/Options/RabbitMqOptions.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/appsettings.json
  src/backend/docker-compose.yml
  tests/backend/WebApi.Tests/Messaging/RabbitMqTests.cs
Labels: documentation, backend

chore: update API container workflow configuration
  .github/workflows/api-container.yml
Labels: workflow

chore: update API container workflow configuration (#1019)
  .github/workflows/api-container.yml
Labels: workflow

refactor: update Redis configuration to use URL format
  .github/workflows/zizmor.yml
  src/backend/docker-compose.yml
  src/frontend/app/routes/api.leaderboard.ts
Labels: workflow, backend, frontend

refactor: update Redis configuration to use URL format (#1028)
  .github/workflows/zizmor.yml
  src/backend/docker-compose.yml
  src/frontend/app/routes/api.leaderboard.ts
Labels: workflow, backend, frontend

Update GitHub Actions workflows and Dependabot configuration
  .github/dependabot.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/backend-ci.yml
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
  .github/workflows/deploy-cd.yml
  .github/workflows/enable-auto-merge.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/label.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/poutine.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/tag.yml
  .github/workflows/terraform-publish-rover.yml
  .github/workflows/terraform-update-documentation.yml
Labels: workflow, github

Update GitHub Actions workflows to disable credential persistence
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
  .github/workflows/enable-auto-merge.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/poutine.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/tag.yml
  .github/workflows/terraform-publish-rover.yml
Labels: workflow

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"
