Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"

TEST-0010 Add NET 9 target, update packages and switch to project folder
  shared/NugetDistSample/NugetDistSample.csproj
  shared/NugetDistSample/Program.cs
  shared/NugetDistSample/build/nuget_distribution_example.props
  shared/NugetDistSample/packages.lock.json
  shared/NugetDistSample/readme.md
  src/backend/.config/dotnet-tools.json
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/global.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: documentation, backend, dependencies

TEST-0010 Update to NET 9 in workflows
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
Labels: workflow

TEST-0010 Add warning suppression
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
Labels: backend

TEST-0010 Add NET 9 target, update packages and switch to project folder (#368)
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
  shared/NugetDistSample/NugetDistSample.csproj
  shared/NugetDistSample/Program.cs
  shared/NugetDistSample/build/nuget_distribution_example.props
  shared/NugetDistSample/packages.lock.json
  shared/NugetDistSample/readme.md
  src/backend/.config/dotnet-tools.json
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/global.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow, documentation, backend, dependencies

Fix eslint-config-love usages
  src/frontend/eslint.config.mjs
  tests/playwright/eslint.config.mjs
Labels: frontend, playwright

Remove unused eslint directives
  src/frontend/src/api/mutators/custom-instance.ts
  src/frontend/src/pages/index/+Page.tsx
  src/frontend/src/renderer/+onRenderClient.tsx
  src/frontend/src/renderer/+onRenderHtml.tsx
  src/frontend/src/serviceWorker.ts
  src/frontend/test/setupTests.ts
  src/frontend/test/testUtils.tsx
  tests/playwright/playwright.config.ts
Labels: frontend, playwright

TEST-0011 Add api client project
  src/backend/.config/dotnet-tools.json
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/Program.cs
  src/backend/ApiClient/WebApiClient.cs
  src/backend/ApiClient/packages.lock.json
  src/backend/Backend.sln
Labels: backend, dependencies

TEST-0011 Fix location of assembly attribute to match the class location
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
Labels: backend

TEST-0011 Add api client project (#373)
  src/backend/.config/dotnet-tools.json
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/Program.cs
  src/backend/ApiClient/WebApiClient.cs
  src/backend/ApiClient/packages.lock.json
  src/backend/Backend.sln
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
Labels: backend, dependencies

Merge test changes to main - v0.50.0-pre.ce2fefb (#374)
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
  shared/NugetDistSample/NugetDistSample.csproj
  shared/NugetDistSample/Program.cs
  shared/NugetDistSample/build/nuget_distribution_example.props
  shared/NugetDistSample/packages.lock.json
  shared/NugetDistSample/readme.md
  src/backend/.config/dotnet-tools.json
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/Program.cs
  src/backend/ApiClient/WebApiClient.cs
  src/backend/ApiClient/packages.lock.json
  src/backend/Backend.sln
  src/backend/Directory.Build.props
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/global.json
  src/frontend/eslint.config.mjs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/api/mutators/custom-instance.ts
  src/frontend/src/pages/index/+Page.tsx
  src/frontend/src/renderer/+onRenderClient.tsx
  src/frontend/src/renderer/+onRenderHtml.tsx
  src/frontend/src/serviceWorker.ts
  src/frontend/test/setupTests.ts
  src/frontend/test/testUtils.tsx
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
  tests/playwright/eslint.config.mjs
  tests/playwright/package-lock.json
  tests/playwright/package.json
  tests/playwright/playwright.config.ts
Labels: workflow, documentation, backend, frontend, playwright, dependencies

Update lockfile
  tests/backend/WebApi.Tests/packages.lock.json
Labels: none

Fix lockfiles workflow
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

Fix eslint issue by downgrading to 9.14
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

Fix dependency issue
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

Fix package compatibility issue
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: playwright

TEST-0010 Update packages
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/cspell.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: frontend, playwright

TEST-0010 Fix lint issues
  src/frontend/src/auth.context.tsx
  src/frontend/src/pages/_error/+Page.tsx
  src/frontend/src/renderer/PageLayout.tsx
  src/frontend/src/serviceWorker.ts
  src/frontend/test/pages/index.test.tsx
  src/frontend/test/testUtils.tsx
Labels: frontend

TEST-0010 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, documentation

TEST-0010 Update backend packages
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

TEST-0010 Add NET 9 target, update packages and switch to project folder (#368)
  src/backend/Directory.Build.props
Labels: backend

TEST-0011 Add api client project (#373)
  src/backend/Directory.Build.props
Labels: backend

Fix lockfiles workflow
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

TEST-0010 Update packages
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/cspell.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: frontend, playwright

TEST-0010 Fix lint issues
  src/frontend/src/auth.context.tsx
  src/frontend/src/pages/_error/+Page.tsx
  src/frontend/src/renderer/PageLayout.tsx
  src/frontend/src/serviceWorker.ts
  src/frontend/test/pages/index.test.tsx
  src/frontend/test/testUtils.tsx
Labels: frontend

TEST-0010 Update backend packages
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

TEST-0010 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, documentation

TEST-0011 Update container port and OTEL integration
  src/backend/WebApi/Controllers/ServiceController.cs
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/entrypoint.sh
  src/backend/docker-compose.yml
Labels: backend

TEST-1200 Change packages
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: frontend, playwright

TEST-1200 Change packages (#771)
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: frontend, playwright

fix: Change target to es2022
  src/frontend/tsconfig.json
Labels: frontend

fix: Unspecific types
  src/frontend/src/renderer/+onRenderHtml.tsx
  src/frontend/src/serviceWorker.ts
Labels: frontend

TEST-1234 Change node version to 24
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright.yml
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: workflow, frontend, playwright

TEST-1234 Change node version to 24 (#814)
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright.yml
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: workflow, frontend, playwright

Add extra frontend groups to dependabot
  .github/dependabot.yml
Labels: github

Update related packages
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

Update package lock
  src/frontend/package-lock.json
Labels: frontend

TEST-1234 Update packages
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: frontend, playwright

TEST-1234 Remove comments from playwright config and add screenshots
  tests/playwright/playwright.config.ts
Labels: playwright

TEST-1234 Update packages (#819)
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
  tests/playwright/playwright.config.ts
Labels: frontend, playwright

TEST-1201 Add more features
  src/frontend/src/components/game/MarioGame.tsx
  src/frontend/src/components/game/mario-types.ts
Labels: frontend
