Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"

Test
  Win32Window.cs
Labels: none

fix: Disable playwright action for now
  .github/workflows/playwright-env.yml
Labels: workflow

fix: Disable playwright action for now (#945)
  .github/workflows/playwright-env.yml
Labels: workflow

Window test
  Win32Window.cs
Labels: none

Add GitVersion
  .gitignore
  GitVersion.yml
Labels: none

Add new ci workflow
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
Labels: workflow

Disable auto merge for now
  .github/workflows/enable-auto-merge.yml
Labels: workflow

Disable release drafter
  .github/workflows/release-drafter.yml
Labels: workflow

Add typecheck script
  src/frontend/package.json
Labels: frontend

Add scripts
  src/frontend/package.json
Labels: frontend

Test
  .github/workflows/ci.yml
Labels: workflow

Endret ref
  .github/workflows/ci.yml
Labels: workflow

Format json
  src/frontend/package.json
Labels: frontend

Add quiet flag
  src/frontend/package.json
Labels: frontend

Remove quiet
  src/frontend/package.json
Labels: frontend

Override
  src/frontend/eslint.config.mjs
Labels: frontend

Fix warnings
  src/frontend/cspell.json
  src/frontend/src/components/game/mario/MapEditor.tsx
Labels: frontend

Lint issues
  src/frontend/eslint.config.mjs
  src/frontend/src/components/game/mario/MapEditor.tsx
  src/frontend/src/components/game/mario/level-loader.ts
Labels: frontend

Add outputs
  src/frontend/vite.config.ts
Labels: frontend

Endret ref
  .github/workflows/ci.yml
Labels: workflow

La til backend paths
  .github/workflows/ci.yml
Labels: workflow

Test
  src/backend/GitVersion.yml
Labels: backend

Disablet backend CI
  .github/workflows/backend-ci.yml
Labels: workflow

Fix otel issue
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
Labels: backend, dependencies

chore: Add gitversion (#951)
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/enable-auto-merge.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/release-drafter.yml
  .gitignore
  GitVersion.yml
  src/backend/GitVersion.yml
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/frontend/cspell.json
  src/frontend/package.json
  src/frontend/src/components/game/mario/MapEditor.tsx
  src/frontend/src/components/game/mario/level-loader.ts
  src/frontend/vite.config.ts
Labels: workflow, backend, frontend, dependencies

chore: Update all packages
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/packages.lock.json
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  tests/backend/WebApi.Tests/Database/MsSqlDefaultConfiguration.cs
  tests/backend/WebApi.Tests/Messaging/RabbitMqTests.cs
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

Fix image
  tests/backend/WebApi.Tests/Messaging/RabbitMqTests.cs
Labels: none

Change workflow target
  .github/workflows/ci.yml
Labels: workflow

Enable
  .github/workflows/ci.yml
Labels: workflow

Fix newline issue
  src/backend/WebApi/Program.cs
Labels: backend

Refactor tests to xunit.v3
  src/backend/WebApi/swagger.json
  tests/backend/WebApi.Tests/Attributes/DefineConstantsAttributeTests.cs
  tests/backend/WebApi.Tests/Controllers/BloggingControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/SendMessageControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/ServiceControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/WeatherForecastControllerTests.cs
  tests/backend/WebApi.Tests/Database/BloggingContextCollection.cs
  tests/backend/WebApi.Tests/Database/BloggingContextTests.cs
  tests/backend/WebApi.Tests/Entities/BaseDtoValidationTests.cs
  tests/backend/WebApi.Tests/Entities/BlogDtoTests.cs
  tests/backend/WebApi.Tests/Entities/PostDtoTests.cs
  tests/backend/WebApi.Tests/Entities/VersionInformationTests.cs
  tests/backend/WebApi.Tests/Messaging/RabbitMqCollection.cs
  tests/backend/WebApi.Tests/Messaging/RabbitMqTests.cs
  tests/backend/WebApi.Tests/ProgramTests.cs
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend

Switch to new test package
  .github/workflows/backend-ci.yml
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow

Fix test
  tests/backend/WebApi.Tests/Database/BloggingContextTests.cs
Labels: none

Test
  .github/workflows/backend-ci.yml
Labels: workflow

Add trx
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
Labels: none

Change target
  .github/workflows/ci.yml
Labels: workflow

Change target
  .github/workflows/ci.yml
Labels: workflow

Test
  .github/workflows/ci.yml
Labels: workflow

Upgrade to slnx
  .github/workflows/ci.yml
  src/backend/Backend.sln
  src/backend/Backend.slnx
Labels: workflow, backend

Update csproj
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
Labels: none
