Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

Update GitHub Actions workflows to standardize permissions
  .github/workflows/api-container.yml
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-container.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright-env.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/zizmor.yml
Labels: workflow

Update GitHub Actions workflows to use latest action versions
  .github/workflows/auto-author-assign.yml
  .github/workflows/release-drafter.yml
Labels: workflow

Update release-drafter action to a specific commit hash for consistency
  .github/workflows/release-drafter.yml
Labels: workflow

Update release-drafter action to version 2024.10.1
  .github/workflows/release-drafter.yml
Labels: workflow

Update GitHub Actions workflows to standardize permissions
  .github/workflows/api-container.yml
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-container.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright-env.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/zizmor.yml
Labels: workflow

Update release-drafter action to version 2024.10.1
  .github/workflows/release-drafter.yml
Labels: workflow

Update GitHub Actions workflows and Dependabot configuration
  .github/dependabot.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/backend-ci.yml
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
  .github/workflows/deploy-cd.yml
  .github/workflows/enable-auto-merge.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/label.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/poutine.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/tag.yml
  .github/workflows/terraform-publish-rover.yml
  .github/workflows/terraform-update-documentation.yml
Labels: workflow, github

Update GitHub Actions workflows to disable credential persistence
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
  .github/workflows/enable-auto-merge.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/poutine.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/tag.yml
  .github/workflows/terraform-publish-rover.yml
Labels: workflow

Update GitHub Actions workflows to use latest action versions
  .github/workflows/auto-author-assign.yml
  .github/workflows/release-drafter.yml
Labels: workflow

Update release-drafter action to a specific commit hash for consistency
  .github/workflows/release-drafter.yml
Labels: workflow

Refactor leaderboard API routes and update fetch methods
  src/frontend/app/components/game/mario/leaderboard-api.ts
  src/frontend/app/routes.ts
  src/frontend/app/routes/resources.leaderboard.ts
Labels: frontend

fix: Refactor leaderboard API routes and update fetch methods (#1034)
  src/frontend/app/components/game/mario/leaderboard-api.ts
  src/frontend/app/routes.ts
  src/frontend/app/routes/resources.leaderboard.ts
Labels: frontend

feat: Enhance API query options to include request parameters
  src/frontend/app/api/endpoints/blogging/blogging.ts
  src/frontend/app/api/endpoints/send-message/send-message.ts
  src/frontend/app/api/endpoints/service/service.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.ts
  src/frontend/app/api/mutators/custom-instance.ts
Labels: frontend

refactor: Remove Docker-related files and update project structure
  src/backend/.config/dotnet-tools.json
  src/backend/.dockerignore
  src/backend/Backend.slnx
  src/backend/Directory.Build.props
  src/backend/Makefile
  src/backend/WebApi/Controllers/WeatherForecastController.cs
  src/backend/WebApi/Dockerfile
  src/backend/WebApi/Messaging/RabbitMqConnectionFactory.cs
  src/backend/WebApi/Migrations/20240618183910_InitialMigration.Designer.cs
  src/backend/WebApi/Migrations/20240622201804_AddBlogMaxLength.cs
  src/backend/WebApi/Migrations/20240623122654_AddBlogTitleField.Designer.cs
  src/backend/WebApi/Migrations/20240623122654_AddBlogTitleField.cs
  src/backend/WebApi/Migrations/20260421214704_Init.Designer.cs
  src/backend/WebApi/Migrations/20260421214704_Init.cs
  src/backend/WebApi/Migrations/BloggingContextModelSnapshot.cs
  src/backend/WebApi/Options/RabbitMqOptions.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/Properties/launchSettings.json
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.Development.json
  src/backend/WebApi/appsettings.json
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  src/backend/docker-compose.dcproj
  src/backend/docker-compose.override.yml
  src/backend/docker-compose.yml
  src/backend/grafana-datasources.yml
  src/backend/otel-config.yaml
  src/backend/prometheus.yml
  tests/backend/WebApi.Tests/Controllers/WeatherForecastControllerTests.cs
  tests/backend/WebApi.Tests/Database/BloggingContextTests.cs
  tests/backend/WebApi.Tests/Database/MsSqlContainerTest.cs
  tests/backend/WebApi.Tests/Database/MsSqlDefaultConfiguration.cs
  tests/backend/WebApi.Tests/Database/PostgreSqlContainerTest.cs
  tests/backend/WebApi.Tests/Database/PostgreSqlDefaultConfiguration.cs
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

refactor: Simplify RabbitMQ configuration and enhance connection handling
  src/backend/WebApi/Messaging/RabbitMqConnectionFactory.cs
  src/backend/WebApi/Program.cs
Labels: backend

feat: Add service status endpoint to check PostgreSQL and RabbitMQ connections
  .claude/settings.local.json
  src/backend/WebApi/Controllers/ServiceController.cs
  src/backend/WebApi/Entities/ServiceStatus.cs
  src/backend/WebApi/swagger.json
Labels: backend

feat: Add redis to test the connection via backend
  .claude/settings.local.json
  src/backend/WebApi/Controllers/RedisController.cs
  src/backend/WebApi/Controllers/ServiceController.cs
  src/backend/WebApi/Entities/RedisCounter.cs
  src/backend/WebApi/Entities/ServiceStatus.cs
  src/backend/WebApi/Messaging/RabbitMqConnectionFactory.cs
  src/backend/WebApi/Options/RedisUrlParser.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.json
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

feat: Implement OIDC authentication and CORS configuration
  src/backend/WebApi/Controllers/BloggingController.cs
  src/backend/WebApi/Controllers/RedisController.cs
  src/backend/WebApi/Controllers/SendMessageController.cs
  src/backend/WebApi/Options/OidcOptions.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/appsettings.json
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

feat: Integrate OIDC authentication and enhance API routes
  .claude/settings.local.json
  src/frontend/app/api/mutators/custom-instance.ts
  src/frontend/app/auth.context.tsx
  src/frontend/app/routes.ts
  src/frontend/app/routes/auth.callback.tsx
  src/frontend/app/routes/blogs.$id.tsx
  src/frontend/app/routes/blogs.tsx
  src/frontend/app/routes/home.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

feat: Update Redis client implementation and add environment configuration
  .claude/settings.local.json
  src/frontend/.env
  src/frontend/app/routes/resources.leaderboard.ts
Labels: frontend

feat: Add Redis service status endpoint and remove weather forecast functionality
  src/backend/WebApi/appsettings.Development.json
  src/frontend/app/api/endpoints/redis/redis.msw.ts
  src/frontend/app/api/endpoints/redis/redis.ts
  src/frontend/app/api/endpoints/service/service.msw.ts
  src/frontend/app/api/endpoints/service/service.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.msw.ts
  src/frontend/app/api/endpoints/weather-forecast/weather-forecast.ts
  src/frontend/app/api/models/connectionStatus.ts
  src/frontend/app/api/models/index.ts
  src/frontend/app/api/models/redisCounter.ts
  src/frontend/app/api/models/serviceStatus.ts
  src/frontend/app/api/models/weatherForecast.ts
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/mock.ts
  src/frontend/app/routes/home.tsx
  src/frontend/test/setupTests.ts
Labels: backend, frontend

fix: Update OIDC audience in configuration files
  src/backend/WebApi/Options/OidcOptions.cs
  src/backend/WebApi/appsettings.json
Labels: backend

fix: Correct OAuth client ID in Swagger UI configuration
  src/backend/WebApi/Options/OidcOptions.cs
  src/backend/WebApi/Program.cs
Labels: backend

feat: Add user profile modal to PageLayout component
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/components/UserProfileModal.tsx
Labels: frontend

feat: Add Blog and Post form modals for creating and editing content
  src/frontend/app/components/BlogFormModal.tsx
  src/frontend/app/components/PostFormModal.tsx
  src/frontend/app/routes/blogs.$id.tsx
  src/frontend/app/routes/blogs.tsx
Labels: frontend

feat: Implement chat functionality with SSE and message publishing
  src/backend/WebApi/Controllers/ChatController.cs
  src/backend/WebApi/Entities/ChatMessage.cs
  src/backend/WebApi/swagger.json
  src/frontend/app/api/endpoints/chat/chat.msw.ts
  src/frontend/app/api/endpoints/chat/chat.ts
  src/frontend/app/api/models/chatMessageRequest.ts
  src/frontend/app/api/models/index.ts
  src/frontend/app/api/mutators/custom-instance.ts
  src/frontend/app/components/ChatModal.tsx
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/hooks/useChatStream.ts
  src/frontend/app/mock.ts
  src/frontend/orval-transformer.cjs
  src/frontend/orval.config.cjs
  src/frontend/test/setupTests.ts
Labels: backend, frontend

refactor: Improve code clarity and consistency across components
  src/frontend/app/api/mutators/custom-instance.ts
  src/frontend/app/auth.context.tsx
  src/frontend/app/components/BlogFormModal.tsx
  src/frontend/app/components/ChatModal.tsx
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/components/PostFormModal.tsx
  src/frontend/app/components/UserProfileModal.tsx
  src/frontend/orval-transformer.cjs
Labels: frontend

refactor: Improve code clarity and consistency across components (#1036)
  src/frontend/app/api/mutators/custom-instance.ts
  src/frontend/app/auth.context.tsx
  src/frontend/app/components/BlogFormModal.tsx
  src/frontend/app/components/ChatModal.tsx
  src/frontend/app/components/PageLayout.tsx
  src/frontend/app/components/PostFormModal.tsx
  src/frontend/app/components/UserProfileModal.tsx
  src/frontend/orval-transformer.cjs
Labels: frontend

feat: Implement SignalR for real-time chat functionality
  .claude/settings.local.json
  src/backend/WebApi/Controllers/ChatController.cs
  src/backend/WebApi/Entities/ChatMessage.cs
  src/backend/WebApi/Hubs/ChatHub.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  src/frontend/app/api/endpoints/chat/chat.msw.ts
  src/frontend/app/api/endpoints/chat/chat.ts
  src/frontend/app/api/models/chatMessageRequest.ts
  src/frontend/app/api/models/index.ts
  src/frontend/app/components/ChatModal.tsx
  src/frontend/app/hooks/useChatStream.ts
  src/frontend/app/hooks/useSignalRChat.ts
  src/frontend/app/mock.ts
  src/frontend/orval-transformer.cjs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/setupTests.ts
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, frontend, dependencies

feat: Enhance health checks and telemetry instrumentation
  .claude/settings.local.json
  src/backend/WebApi/HealthChecks/RedisHealthCheck.cs
  src/backend/WebApi/Program.cs
Labels: backend

feat: Add health checks for Redis and database connectivity
  src/backend/WebApi/HealthChecks/RedisHealthCheck.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/frontend/app/routes.ts
  src/frontend/app/routes/healthz.ts
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, frontend, dependencies

feat: Add health check endpoint and update cspell configuration
  src/frontend/app/routes/healthz.ts
  src/frontend/cspell.json
Labels: frontend

docs: Add return type documentation for health check response
  src/frontend/app/routes/healthz.ts
Labels: frontend

feat: signalr (#1037)
  .claude/settings.local.json
  src/backend/WebApi/Controllers/ChatController.cs
  src/backend/WebApi/Entities/ChatMessage.cs
  src/backend/WebApi/HealthChecks/RedisHealthCheck.cs
  src/backend/WebApi/Hubs/ChatHub.cs
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  src/frontend/app/api/endpoints/chat/chat.msw.ts
  src/frontend/app/api/endpoints/chat/chat.ts
  src/frontend/app/api/models/chatMessageRequest.ts
  src/frontend/app/api/models/index.ts
  src/frontend/app/components/ChatModal.tsx
  src/frontend/app/hooks/useChatStream.ts
  src/frontend/app/hooks/useSignalRChat.ts
  src/frontend/app/mock.ts
  src/frontend/app/routes.ts
  src/frontend/app/routes/healthz.ts
  src/frontend/cspell.json
  src/frontend/orval-transformer.cjs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/setupTests.ts
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, frontend, dependencies

chore: Removed unused workflows
  .github/actions/backend-deploy/action.yml
  .github/actions/frontend-build/action.yml
  .github/actions/frontend-deploy/action.yml
  .github/actions/platform-deploy/action.yml
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/deploy-cd.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright-env.yml
Labels: workflow

feat: Add CLAUDE.md for repository guidance
  CLAUDE.md
Labels: documentation

chore: Removed unused workflows (#1038)
  .github/actions/backend-deploy/action.yml
  .github/actions/frontend-build/action.yml
  .github/actions/frontend-deploy/action.yml
  .github/actions/platform-deploy/action.yml
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/deploy-cd.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright-env.yml
  CLAUDE.md
Labels: workflow, documentation

chore: Update dependabot workflow to trigger on labeled and synchronize events
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

chore: Update dotnet working directory in CI workflow
  .github/workflows/ci.yml
Labels: workflow

chore: Update lockfiles workflow (#1039)
  .github/workflows/ci.yml
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"
