Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

feat: Enhance OIDC configuration and improve code formatting
  .claude/settings.local.json
  src/backend/WebApi/Program.cs
  src/backend/WebApi/swagger.json
Labels: backend

fix: Update SignalR chat connection URL and handle connection errors
  src/frontend/app/hooks/useSignalRChat.ts
Labels: frontend

fix: Adjust SignalR logging level for improved error tracking
  src/frontend/app/hooks/useSignalRChat.ts
Labels: frontend

chore: Update .gitignore and remove settings.local.json
  .claude/settings.local.json
  .gitignore
Labels: none

fix: webapi paths and other adjustments (#1040)
  .claude/settings.local.json
  .gitignore
  src/backend/WebApi/Program.cs
  src/backend/WebApi/swagger.json
  src/frontend/app/hooks/useSignalRChat.ts
Labels: backend, frontend

feat: Implement Postgres URL parser for connection strings
  src/backend/WebApi/Options/PostgresUrlParser.cs
  src/backend/WebApi/Program.cs
Labels: backend

chore: Update dependencies in package.json and package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

chore: Update CI workflow for dotnet working directory and changes regex
  .github/workflows/ci.yml
Labels: workflow

feat: Implement Postgres URL parser for connection strings (#1041)
  .github/workflows/ci.yml
  src/backend/WebApi/Options/PostgresUrlParser.cs
  src/backend/WebApi/Program.cs
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: workflow, backend, frontend

Temp change path
  .github/workflows/ci.yml
Labels: workflow

Test
  .github/workflows/ci.yml
Labels: workflow

Test
  .github/workflows/ci.yml
Labels: workflow

Removed trx package and added other test project
  src/backend/Backend.slnx
  tests/backend/ApiClient.Tests/ApiClient.Tests.csproj
  tests/backend/ApiClient.Tests/ApiClientTests.cs
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
Labels: backend

Lockfiles
  tests/backend/ApiClient.Tests/packages.lock.json
  tests/backend/WebApi.Tests/packages.lock.json
Labels: none

Test
  .github/workflows/ci.yml
Labels: workflow

Reset
  .github/workflows/ci.yml
Labels: workflow

chore(deps): add opentelemetry patterns to dependabot configuration
  .github/dependabot.yml
Labels: github

chore(deps): remove TypeScript and Orval patterns from dependabot configuration
  .github/dependabot.yml
Labels: github

refactor(Dockerfile): update base image and command for production
  src/frontend/Dockerfile
Labels: frontend

chore: add pull-requests permission to GitHub workflows
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
Labels: workflow

chore: add GitHub Actions workflow for pruning GHCR images
  .github/workflows/prune-ghcr.yml
Labels: workflow

chore: refactor Dependabot workflow for .NET lockfile updates
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

chore: add ReSharper CleanupCode GitHub Actions workflow
  .github/workflows/resharper-cleanupcode.yml
Labels: workflow

chore: update reusable workflow for ReSharper CleanupCode job
  .github/workflows/resharper-cleanupcode.yml
Labels: workflow

chore: update workflow name in tag-and-release.yml from Norwegian to English
  .github/workflows/tag-and-release.yml
Labels: workflow

refactor: Add Docker Compose configuration for E2E testing and update workflows
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-e2e.yml
  docker-compose.e2e.yml
  tests/playwright/playwright.config.ts
  tests/playwright/tests/example.spec.ts
  tests/playwright/tests/home.spec.ts
Labels: workflow, playwright

chore: Update Playwright configuration in E2E workflow
  .github/workflows/pr-e2e.yml
Labels: workflow

refactor: Add Docker Compose configuration for E2E testing and update… (#1093)
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-e2e.yml
  docker-compose.e2e.yml
  tests/playwright/playwright.config.ts
  tests/playwright/tests/example.spec.ts
  tests/playwright/tests/home.spec.ts
Labels: workflow, playwright

chore(deps): update reusable workflows to v1.62.0
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
  .github/workflows/prune-ghcr.yml
  .github/workflows/resharper-cleanupcode.yml
  .github/workflows/tag-and-release.yml
Labels: workflow, github

chore: Enhance coverage report configuration in Directory.Build.props
  temp.yaml
  tests/backend/Directory.Build.props
Labels: none

chore: Refactor coverage report configuration in Directory.Build.props
  tests/backend/Directory.Build.props
Labels: none

chore: Update test configuration for coverage reporting
  tests/backend/Directory.Build.props
  tests/backend/testconfig.json
Labels: none

chore: Update test configuration for coverage reporting (#1114)
  tests/backend/Directory.Build.props
  tests/backend/testconfig.json
Labels: none

feat: Update to reusable-workflow v2
  .github/workflows/api-container.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
  .github/workflows/frontend-container.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/prune-ghcr.yml
  .github/workflows/resharper-cleanupcode.yml
  .github/workflows/tag-and-release.yml
Labels: workflow

Reset grype disable flag
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
Labels: workflow

chore: Back to grype auto
  .github/workflows/tag-and-release.yml
Labels: workflow

chore: Update GitHub Actions workflows to explicitly forward required secrets
  .github/workflows/ci.yml
  .github/workflows/prune-ghcr.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/tag.yml
  .github/workflows/terraform-update-documentation.yml
Labels: workflow

feat: Update to reusable-workflow v2 (#1131)
  .github/workflows/api-container.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
  .github/workflows/frontend-container.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/prune-ghcr.yml
  .github/workflows/resharper-cleanupcode.yml
  .github/workflows/tag-and-release.yml
  .github/workflows/tag.yml
  .github/workflows/terraform-update-documentation.yml
Labels: workflow

chore: Update permissions in pr-e2e workflow
  .github/workflows/pr-e2e.yml
Labels: workflow

chore: Update packages
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/packages.lock.json
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  tests/backend/ApiClient.Tests/packages.lock.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"
