Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

TEST-1201 Fix linting issues
  src/frontend/src/components/game/MaritimeVentures.tsx
Labels: frontend

TEST-1201 Change ship game via refactor
  src/frontend/src/components/game/AvailableCargo.tsx
  src/frontend/src/components/game/MaritimeVentures.tsx
  src/frontend/src/components/game/ShipMarket.tsx
  src/frontend/src/components/game/WorldMap.tsx
  src/frontend/src/components/game/shipActionHandlers.ts
  src/frontend/src/components/game/shipUtils.ts
  src/frontend/src/components/game/useCargoManagement.ts
  src/frontend/src/components/game/useGameState.ts
Labels: frontend

TEST-1201 Add initial game files
  EASTER_EGG_GAME.md
  src/frontend/src/components/game/DockingGame.css
  src/frontend/src/components/game/DockingGame.tsx
  src/frontend/src/components/game/MaritimeVentures.css
  src/frontend/src/components/game/MaritimeVentures.tsx
  src/frontend/src/components/game/RescueGame.css
  src/frontend/src/components/game/RescueGame.tsx
  src/frontend/src/components/game/types.ts
  src/frontend/src/hooks/useKonamiCode.ts
  src/frontend/src/pages/index/+Page.tsx
Labels: documentation, frontend

TEST-1201 Fix linting issues
  src/frontend/cspell.json
  src/frontend/src/components/game/BaseMaritimeGame.tsx
  src/frontend/src/components/game/DockingGame.tsx
  src/frontend/src/components/game/MaritimeVentures.tsx
  src/frontend/src/components/game/UndockingGame.tsx
Labels: frontend

TEST-1201 Add mario game
  src/frontend/src/components/game/MarioGame.css
  src/frontend/src/components/game/MarioGame.tsx
  src/frontend/src/components/game/MaritimeVentures.tsx
  src/frontend/src/components/game/mario-types.ts
  src/frontend/src/pages/index/+Page.tsx
Labels: frontend

TEST-1201 fix: Lint issues
  src/frontend/src/components/game/maritime-ventures/AvailableCargo.tsx
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.tsx
  src/frontend/src/components/game/maritime-ventures/ShipMarket.tsx
  src/frontend/src/components/game/maritime-ventures/WorldMap.tsx
  src/frontend/src/components/game/maritime-ventures/shipActionHandlers.ts
  src/frontend/src/components/game/maritime-ventures/useCargoManagement.ts
  src/frontend/src/components/game/maritime-ventures/useGameState.ts
Labels: frontend

TEST-1201 Add cargo capacity and refactor game components
  src/frontend/cspell.json
  src/frontend/package.json
  src/frontend/src/components/game/BaseMaritimeGame.css
  src/frontend/src/components/game/BaseMaritimeGame.tsx
  src/frontend/src/components/game/DockingGame.css
  src/frontend/src/components/game/DockingGame.tsx
  src/frontend/src/components/game/MaritimeVentures.css
  src/frontend/src/components/game/MaritimeVentures.tsx
  src/frontend/src/components/game/RescueGame.tsx
  src/frontend/src/components/game/UndockingGame.tsx
  src/frontend/src/components/game/types.ts
Labels: frontend

TEST-1201 Update game file locations
  src/frontend/src/components/game/mario/MarioGame.css
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/mario-types.ts
  src/frontend/src/components/game/maritime-ventures/AvailableCargo.tsx
  src/frontend/src/components/game/maritime-ventures/BaseMaritimeGame.css
  src/frontend/src/components/game/maritime-ventures/BaseMaritimeGame.tsx
  src/frontend/src/components/game/maritime-ventures/DockingGame.tsx
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.css
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.tsx
  src/frontend/src/components/game/maritime-ventures/RescueGame.css
  src/frontend/src/components/game/maritime-ventures/RescueGame.tsx
  src/frontend/src/components/game/maritime-ventures/ShipMarket.tsx
  src/frontend/src/components/game/maritime-ventures/UndockingGame.tsx
  src/frontend/src/components/game/maritime-ventures/WorldMap.tsx
  src/frontend/src/components/game/maritime-ventures/shipActionHandlers.ts
  src/frontend/src/components/game/maritime-ventures/shipUtils.ts
  src/frontend/src/components/game/maritime-ventures/types.ts
  src/frontend/src/components/game/maritime-ventures/useCargoManagement.ts
  src/frontend/src/components/game/maritime-ventures/useGameState.ts
  src/frontend/src/pages/index/+Page.tsx
Labels: frontend

TEST-1201 Add eslint fix and update docker base image
  src/frontend/Dockerfile
  src/frontend/src/components/game/MaritimeVentures.tsx
Labels: frontend

TEST-1201 Add game (#772)
  EASTER_EGG_GAME.md
  src/frontend/Dockerfile
  src/frontend/cspell.json
  src/frontend/package.json
  src/frontend/src/components/game/mario/MarioGame.css
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/mario-types.ts
  src/frontend/src/components/game/maritime-ventures/AvailableCargo.tsx
  src/frontend/src/components/game/maritime-ventures/BaseMaritimeGame.css
  src/frontend/src/components/game/maritime-ventures/BaseMaritimeGame.tsx
  src/frontend/src/components/game/maritime-ventures/DockingGame.tsx
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.css
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.tsx
  src/frontend/src/components/game/maritime-ventures/RescueGame.css
  src/frontend/src/components/game/maritime-ventures/RescueGame.tsx
  src/frontend/src/components/game/maritime-ventures/ShipMarket.tsx
  src/frontend/src/components/game/maritime-ventures/UndockingGame.tsx
  src/frontend/src/components/game/maritime-ventures/WorldMap.tsx
  src/frontend/src/components/game/maritime-ventures/shipActionHandlers.ts
  src/frontend/src/components/game/maritime-ventures/shipUtils.ts
  src/frontend/src/components/game/maritime-ventures/types.ts
  src/frontend/src/components/game/maritime-ventures/useCargoManagement.ts
  src/frontend/src/components/game/maritime-ventures/useGameState.ts
  src/frontend/src/hooks/useKonamiCode.ts
  src/frontend/src/pages/index/+Page.tsx
Labels: documentation, frontend

WIP
  pdf-qa-training/.gitignore
  pdf-qa-training/MOCK_DATA_REMOVAL_SUMMARY.md
  pdf-qa-training/NORWEGIAN_LEGAL_IMPROVEMENTS.md
  pdf-qa-training/README.md
  pdf-qa-training/SETUP_COMPLETE.md
  pdf-qa-training/SETUP_GUIDE.md
  pdf-qa-training/SOLUTION_SUMMARY.md
  pdf-qa-training/VENV_SETUP.md
  pdf-qa-training/check_section45.py
  pdf-qa-training/find_section39.py
  pdf-qa-training/fine-tuning/train_small_model.py
  pdf-qa-training/improved_chunks.json
  pdf-qa-training/package.json
  pdf-qa-training/pdf-processing/improved_chunks.json
  pdf-qa-training/pdf-processing/improved_process_pdf.py
  pdf-qa-training/pdf-processing/process_pdf.py
  pdf-qa-training/rag-approach/create_embeddings.py
  pdf-qa-training/rag-approach/improved_create_embeddings.py
  pdf-qa-training/requirements.txt
  pdf-qa-training/setup.bat
  pdf-qa-training/setup.ps1
  pdf-qa-training/setup.sh
  pdf-qa-training/setup_example.py
  pdf-qa-training/setup_norwegian_legal.py
  pdf-qa-training/test_processor.py
  pdf-qa-training/test_regex.py
  pdf-qa-training/test_section45_regex.py
  pdf-qa-training/test_subitems.py
  pdf-qa-training/web-interface/README.md
  pdf-qa-training/web-interface/advanced.html
  pdf-qa-training/web-interface/index.html
  pdf-qa-training/web-interface/norwegian-legal.html
  pdf-qa-training/web-interface/package-lock.json
  pdf-qa-training/web-interface/package.json
  pdf-qa-training/web-interface/test-assets.html
  pdf-qa-training/web-interface/vite.config.js
Labels: documentation

La til illustrasjonspipeline
  pdf-qa-training/README.md
  pdf-qa-training/illustration/.gitignore
  pdf-qa-training/illustration/PROJECT_SUMMARY.md
  pdf-qa-training/illustration/README_ILLUSTRATIONS.md
  pdf-qa-training/illustration/batch_illustration_prompts.json
  pdf-qa-training/illustration/enhanced_illustration_prompts.json
  pdf-qa-training/illustration/enhanced_illustration_prompts_summary.md
  pdf-qa-training/illustration/generate_enhanced_illustration_prompts.py
  pdf-qa-training/illustration/generate_illustration_prompts.py
  pdf-qa-training/illustration/illustration_prompts.json
  pdf-qa-training/illustration/illustration_prompts_summary.md
  pdf-qa-training/illustration/sd_webui_generator.py
  pdf-qa-training/illustration/use_illustration_prompts.py
  pdf-qa-training/improved_chunks.json
  pdf-qa-training/pdf-processing/improved_chunks.json
Labels: documentation

Add code-workspace file
  .gitignore
  .vscode/project.code-workspace
Labels: none

Add chatbot with webllm
  pdf-qa-training/illustration/WEBUI_ERROR_FIX.md
  pdf-qa-training/illustration/interactive_prompt_builder.py
  pdf-qa-training/illustration/prompt_improver.py
  pdf-qa-training/illustration/quick_prompt_test.py
  pdf-qa-training/illustration/safe_sd_generator.py
  pdf-qa-training/illustration/sd_webui_generator.py
  pdf-qa-training/illustration/speaking_rules_test.py
  pdf-qa-training/illustration/speaking_rules_tests/speaking_rules_test_results.json
  pdf-qa-training/illustration/test_errors.py
  pdf-qa-training/illustration/test_prompt_variations.py
  pdf-qa-training/illustration/test_variations/test_results.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/chatbot/Chatbot.css
  src/frontend/src/components/chatbot/Chatbot.tsx
  src/frontend/src/components/chatbot/models.txt
  src/frontend/src/pages/index/+Page.tsx
Labels: documentation, frontend

fix: Updated to the next patch to get compatible packages
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

fix: Lint issues
  src/frontend/src/renderer/+onRenderClient.tsx
  src/frontend/test/testUtils.tsx
Labels: frontend

TEST-1234 Update packages (#819)
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
  tests/playwright/playwright.config.ts
Labels: frontend, playwright

TEST-1201 Add game (#772)
  EASTER_EGG_GAME.md
  src/frontend/Dockerfile
  src/frontend/cspell.json
  src/frontend/package.json
  src/frontend/src/components/game/mario/MarioGame.css
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/mario-types.ts
  src/frontend/src/components/game/maritime-ventures/AvailableCargo.tsx
  src/frontend/src/components/game/maritime-ventures/BaseMaritimeGame.css
  src/frontend/src/components/game/maritime-ventures/BaseMaritimeGame.tsx
  src/frontend/src/components/game/maritime-ventures/DockingGame.tsx
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.css
  src/frontend/src/components/game/maritime-ventures/MaritimeVentures.tsx
  src/frontend/src/components/game/maritime-ventures/RescueGame.css
  src/frontend/src/components/game/maritime-ventures/RescueGame.tsx
  src/frontend/src/components/game/maritime-ventures/ShipMarket.tsx
  src/frontend/src/components/game/maritime-ventures/UndockingGame.tsx
  src/frontend/src/components/game/maritime-ventures/WorldMap.tsx
  src/frontend/src/components/game/maritime-ventures/shipActionHandlers.ts
  src/frontend/src/components/game/maritime-ventures/shipUtils.ts
  src/frontend/src/components/game/maritime-ventures/types.ts
  src/frontend/src/components/game/maritime-ventures/useCargoManagement.ts
  src/frontend/src/components/game/maritime-ventures/useGameState.ts
  src/frontend/src/hooks/useKonamiCode.ts
  src/frontend/src/pages/index/+Page.tsx
Labels: documentation, frontend

TEST-1200 Change packages (#771)
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: frontend, playwright

Add code-workspace file
  .gitignore
  .vscode/project.code-workspace
Labels: none

TEST-1234 Change node version to 24 (#814)
  .github/workflows/frontend-ci.yml
  .github/workflows/playwright.yml
  src/frontend/package-lock.json
  src/frontend/package.json
  tests/playwright/package-lock.json
  tests/playwright/package.json
Labels: workflow, frontend, playwright

Add extra frontend groups to dependabot
  .github/dependabot.yml
Labels: github

Remove unused workflows
  .github/workflows/promotion-pull-request.yml
  .github/workflows/pull-request-target-check.yml
  .github/workflows/update-branch.yml
Labels: workflow

Update dependabot target and formatters
  .github/dependabot.yml
  .vscode/project.code-workspace
Labels: github

Refactor trigger branches
  .github/workflows/backend-ci.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tag.yml
Labels: workflow

Refactor deploy workflows
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/playwright-env.yml
Labels: workflow

Update branch triggers
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/enable-auto-merge.yml
Labels: workflow

feat: Release flow (#851)
  .github/dependabot.yml
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd-trigger.yml
  .github/workflows/enable-auto-merge.yml
  .github/workflows/playwright-ci.yml
  .github/workflows/playwright-env.yml
  .github/workflows/promotion-pull-request.yml
  .github/workflows/pull-request-target-check.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tag.yml
  .github/workflows/update-branch.yml
  .vscode/project.code-workspace
Labels: workflow, github

Update workflows and backend projects to dotnet 10
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
  shared/NugetDistSample/NugetDistSample.csproj
  shared/NugetDistSample/packages.lock.json
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/packages.lock.json
  src/backend/Directory.Build.props
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  src/backend/global.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow, backend, dependencies

Update swagger cli tool
  src/backend/.config/dotnet-tools.json
  src/backend/WebApi/swagger.json
Labels: backend

Comment out stryker steps for now
  .github/workflows/backend-ci.yml
Labels: workflow

Disable refitter build for now
  src/backend/ApiClient/ApiClient.csproj
Labels: backend

chore: dotnet 10 upgrade (#865)
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cd.yml
  shared/NugetDistSample/NugetDistSample.csproj
  shared/NugetDistSample/packages.lock.json
  src/backend/.config/dotnet-tools.json
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/packages.lock.json
  src/backend/Directory.Build.props
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  src/backend/global.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow, backend, dependencies

Add map editor and load/save functionality
  src/frontend/src/components/game/mario/MapEditor.css
  src/frontend/src/components/game/mario/MapEditor.tsx
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/README.md
  src/frontend/src/components/game/mario/level-format.ts
  src/frontend/src/components/game/mario/level-loader.ts
  src/frontend/src/components/game/mario/levels/example-level.json
Labels: documentation, frontend

Fix image names
  .github/workflows/deploy-cd.yml
Labels: workflow

WIP
  pdf-qa-training/.gitignore
  pdf-qa-training/MOCK_DATA_REMOVAL_SUMMARY.md
  pdf-qa-training/NORWEGIAN_LEGAL_IMPROVEMENTS.md
  pdf-qa-training/README.md
  pdf-qa-training/SETUP_COMPLETE.md
  pdf-qa-training/SETUP_GUIDE.md
  pdf-qa-training/SOLUTION_SUMMARY.md
  pdf-qa-training/VENV_SETUP.md
  pdf-qa-training/check_section45.py
  pdf-qa-training/find_section39.py
  pdf-qa-training/fine-tuning/train_small_model.py
  pdf-qa-training/improved_chunks.json
  pdf-qa-training/package.json
  pdf-qa-training/pdf-processing/improved_chunks.json
  pdf-qa-training/pdf-processing/improved_process_pdf.py
  pdf-qa-training/pdf-processing/process_pdf.py
  pdf-qa-training/rag-approach/create_embeddings.py
  pdf-qa-training/rag-approach/improved_create_embeddings.py
  pdf-qa-training/requirements.txt
  pdf-qa-training/setup.bat
  pdf-qa-training/setup.ps1
  pdf-qa-training/setup.sh
  pdf-qa-training/setup_example.py
  pdf-qa-training/setup_norwegian_legal.py
  pdf-qa-training/test_processor.py
  pdf-qa-training/test_regex.py
  pdf-qa-training/test_section45_regex.py
  pdf-qa-training/test_subitems.py
  pdf-qa-training/web-interface/README.md
  pdf-qa-training/web-interface/advanced.html
  pdf-qa-training/web-interface/index.html
  pdf-qa-training/web-interface/norwegian-legal.html
  pdf-qa-training/web-interface/package-lock.json
  pdf-qa-training/web-interface/package.json
  pdf-qa-training/web-interface/test-assets.html
  pdf-qa-training/web-interface/vite.config.js
Labels: documentation

La til illustrasjonspipeline
  pdf-qa-training/README.md
  pdf-qa-training/illustration/.gitignore
  pdf-qa-training/illustration/PROJECT_SUMMARY.md
  pdf-qa-training/illustration/README_ILLUSTRATIONS.md
  pdf-qa-training/illustration/batch_illustration_prompts.json
  pdf-qa-training/illustration/enhanced_illustration_prompts.json
  pdf-qa-training/illustration/enhanced_illustration_prompts_summary.md
  pdf-qa-training/illustration/generate_enhanced_illustration_prompts.py
  pdf-qa-training/illustration/generate_illustration_prompts.py
  pdf-qa-training/illustration/illustration_prompts.json
  pdf-qa-training/illustration/illustration_prompts_summary.md
  pdf-qa-training/illustration/sd_webui_generator.py
  pdf-qa-training/illustration/use_illustration_prompts.py
  pdf-qa-training/improved_chunks.json
  pdf-qa-training/pdf-processing/improved_chunks.json
Labels: documentation

Add chatbot with webllm
  pdf-qa-training/illustration/WEBUI_ERROR_FIX.md
  pdf-qa-training/illustration/interactive_prompt_builder.py
  pdf-qa-training/illustration/prompt_improver.py
  pdf-qa-training/illustration/quick_prompt_test.py
  pdf-qa-training/illustration/safe_sd_generator.py
  pdf-qa-training/illustration/sd_webui_generator.py
  pdf-qa-training/illustration/speaking_rules_test.py
  pdf-qa-training/illustration/speaking_rules_tests/speaking_rules_test_results.json
  pdf-qa-training/illustration/test_errors.py
  pdf-qa-training/illustration/test_prompt_variations.py
  pdf-qa-training/illustration/test_variations/test_results.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/chatbot/Chatbot.css
  src/frontend/src/components/chatbot/Chatbot.tsx
  src/frontend/src/components/chatbot/models.txt
  src/frontend/src/pages/index/+Page.tsx
Labels: documentation, frontend

Endret fra html og til tsx
  pdf-qa-training/rag-approach/create_embeddings.py
  pdf-qa-training/web-interface/advanced.html
  pdf-qa-training/web-interface/index.html
  pdf-qa-training/web-interface/norwegian-legal.html
  pdf-qa-training/web-interface/package-lock.json
  pdf-qa-training/web-interface/package.json
  pdf-qa-training/web-interface/react-quill.d.ts
  pdf-qa-training/web-interface/src/App.tsx
  pdf-qa-training/web-interface/src/components/Navigation.tsx
  pdf-qa-training/web-interface/src/components/chatbot/Chatbot.css
  pdf-qa-training/web-interface/src/components/chatbot/Chatbot.tsx
  pdf-qa-training/web-interface/src/main.tsx
  pdf-qa-training/web-interface/src/pages/Advanced.tsx
  pdf-qa-training/web-interface/src/pages/EditorMock.tsx
  pdf-qa-training/web-interface/src/pages/Index.tsx
  pdf-qa-training/web-interface/src/pages/NorwegianLegal.tsx
  pdf-qa-training/web-interface/src/pages/TestAssets.tsx
  pdf-qa-training/web-interface/test-assets.html
  pdf-qa-training/web-interface/tsconfig.json
  pdf-qa-training/web-interface/tsconfig.node.json
  pdf-qa-training/web-interface/vite.config.js
  src/frontend/src/components/chatbot/models.txt
Labels: frontend

Verktøybruk
  pdf-qa-training/web-interface/src/components/chatbot/Chatbot.tsx
Labels: none

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"
