Repository hwinther/test, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, github, documentation, backend, frontend, playwright, dependencies, platform

.github/labeler.yml:

workflow:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

github:
  - changed-files:
      - any-glob-to-any-file: ".github/*"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/*", "**/*.md"]

backend:
  - changed-files:
      - any-glob-to-any-file: "src/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "src/frontend/**"

playwright:
  - changed-files:
      - any-glob-to-any-file: "tests/playwright/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["src/**/*.lock.json", "src/**/yarn.lock"]

platform:
  - changed-files:
      - any-glob-to-any-file: "src/platform/**"

Switch to mtp packages
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: none

Test package combination
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: none

Cobertura with coverlet
  src/backend/global.json
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
Labels: backend

Reset branch name
  .github/workflows/ci.yml
Labels: workflow

chore: Update all packages (#960)
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  src/backend/ApiClient/ApiClient.csproj
  src/backend/ApiClient/packages.lock.json
  src/backend/Backend.sln
  src/backend/Backend.slnx
  src/backend/WebApi/Program.cs
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/WebApi/swagger.json
  src/backend/global.json
  tests/backend/WebApi.Tests/Attributes/DefineConstantsAttributeTests.cs
  tests/backend/WebApi.Tests/Controllers/BloggingControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/SendMessageControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/ServiceControllerTests.cs
  tests/backend/WebApi.Tests/Controllers/WeatherForecastControllerTests.cs
  tests/backend/WebApi.Tests/Database/BloggingContextCollection.cs
  tests/backend/WebApi.Tests/Database/BloggingContextTests.cs
  tests/backend/WebApi.Tests/Database/MsSqlDefaultConfiguration.cs
  tests/backend/WebApi.Tests/Entities/BaseDtoValidationTests.cs
  tests/backend/WebApi.Tests/Entities/BlogDtoTests.cs
  tests/backend/WebApi.Tests/Entities/PostDtoTests.cs
  tests/backend/WebApi.Tests/Entities/VersionInformationTests.cs
  tests/backend/WebApi.Tests/Messaging/RabbitMqCollection.cs
  tests/backend/WebApi.Tests/Messaging/RabbitMqTests.cs
  tests/backend/WebApi.Tests/ProgramTests.cs
  tests/backend/WebApi.Tests/WebApi.Tests.csproj
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow, backend, dependencies

chore: Use slnx and dotnet 10
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

chore: Use slnx and dotnet 10 (#968)
  .github/workflows/dependabot-update-dotnet-lockfiles.yml
Labels: workflow

chore: Switch from main to v1 of reusable ci workflow
  .github/workflows/ci.yml
Labels: workflow

chore: Switch from main to v1 of reusable ci workflow (#971)
  .github/workflows/ci.yml
Labels: workflow

Add notepad files
  notepad/README.md
  notepad/frontend/.gitignore
  notepad/frontend/index.html
  notepad/frontend/package-lock.json
  notepad/frontend/package.json
  notepad/frontend/public/vite.svg
  notepad/frontend/src/App.tsx
  notepad/frontend/src/PlateNotepad.tsx
  notepad/frontend/src/counter.ts
  notepad/frontend/src/fileApi.ts
  notepad/frontend/src/main.tsx
  notepad/frontend/src/style.css
  notepad/frontend/src/typescript.svg
  notepad/frontend/tsconfig.json
  notepad/src-tauri/Cargo.lock
  notepad/src-tauri/Cargo.toml
  notepad/src-tauri/build.rs
  notepad/src-tauri/capabilities/default.json
  notepad/src-tauri/gen/schemas/acl-manifests.json
  notepad/src-tauri/gen/schemas/capabilities.json
  notepad/src-tauri/gen/schemas/desktop-schema.json
  notepad/src-tauri/gen/schemas/windows-schema.json
  notepad/src-tauri/icons/icon.ico
  notepad/src-tauri/src/main.rs
  notepad/src-tauri/target/.rustc_info.json
  notepad/src-tauri/target/CACHEDIR.TAG
  notepad/src-tauri/tauri.conf.json
  notepad/src-tauri/windows/hooks.nsi
  pdf-qa-training/browser-assets/embeddings_and_chunks.json
  pdf-qa-training/processed_chunks.json
  pdf-qa-training/training_data_template.json
  pdf-qa-training/web-interface/public/embeddings_and_chunks.json
Labels: documentation

feat: Add container workflows and tag and release workflow
  .github/workflows/backend-container.yml
  .github/workflows/frontend-container.yml
  .github/workflows/tag-and-release.yml
Labels: workflow

Refactor
  .github/workflows/api-container.yml
  .github/workflows/backend-container.yml
Labels: workflow

feat: Add container workflows and tag and release workflow (#973)
  .github/workflows/api-container.yml
  .github/workflows/frontend-container.yml
  .github/workflows/tag-and-release.yml
Labels: workflow

fix: Backend container path
  .github/workflows/api-container.yml
Labels: workflow

fix: Backend container path (#974)
  .github/workflows/api-container.yml
Labels: workflow

fix: Path
  .github/workflows/api-container.yml
Labels: workflow

Change runtime
  src/backend/ApiClient/packages.lock.json
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  tests/backend/WebApi.Tests/packages.lock.json
Labels: backend, dependencies

Add support for SDK container build
  src/backend/WebApi/WebApi.csproj
Labels: backend

Update reference
  src/backend/otel-dotnet.env
Labels: backend

fix: Backend container path (#975)
  .github/workflows/api-container.yml
  src/backend/ApiClient/packages.lock.json
  src/backend/Directory.Build.props
  src/backend/WebApi/WebApi.csproj
  src/backend/WebApi/packages.lock.json
  src/backend/otel-dotnet.env
  tests/backend/WebApi.Tests/packages.lock.json
Labels: workflow, backend, dependencies

fix: Trigger container publish workflows after creating a new tag
  .github/workflows/tag-and-release.yml
Labels: workflow

fix: Trigger container publish workflows after creating a new tag (#980)
  .github/workflows/tag-and-release.yml
Labels: workflow

fix: Frontend container workflow needs attestation permission
  .github/workflows/frontend-container.yml
Labels: workflow

fix: Frontend container workflow needs attestation permission (#981)
  .github/workflows/frontend-container.yml
Labels: workflow

fix: Frontend vite swc dependency warning
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/+config.ts
  src/frontend/vite.config.ts
Labels: frontend

chore: Update packages
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

Update more packages
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

fix: Frontend dependency warning (#982)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/+config.ts
  src/frontend/vite.config.ts
Labels: frontend

feat: Add piranha, sounds and overall improved gameplay
  src/frontend/cspell.json
  src/frontend/eslint.config.mjs
  src/frontend/src/assets/botvar_liten.png
  src/frontend/src/assets/bugvar_liten.png
  src/frontend/src/components/game/mario/MapEditor.tsx
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/level-format.ts
  src/frontend/src/components/game/mario/level-loader.ts
  src/frontend/src/components/game/mario/mario-game-canvas.ts
  src/frontend/src/components/game/mario/mario-game-logic.ts
  src/frontend/src/components/game/mario/mario-input-helpers.ts
  src/frontend/src/components/game/mario/mario-keyboard.ts
  src/frontend/src/components/game/mario/mario-sounds.ts
  src/frontend/src/components/game/mario/mario-types.ts
Labels: frontend

Add more worlds
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/level-loader.ts
  src/frontend/src/components/game/mario/levels/index.ts
  src/frontend/src/components/game/mario/levels/world-1-1.ts
  src/frontend/src/components/game/mario/levels/world-1-2.ts
  src/frontend/src/components/game/mario/levels/world-1-3.ts
  src/frontend/src/pages/index/+Page.tsx
Labels: frontend

feat: Add redis stored leaderboard
  src/backend/docker-compose.yml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/server/vite-plugin-leaderboard.ts
  src/frontend/src/components/game/mario/LeaderboardOverlay.css
  src/frontend/src/components/game/mario/LeaderboardOverlay.tsx
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/leaderboard-api.ts
  src/frontend/vite.config.ts
Labels: backend, frontend

Disable perfectionist for now
  src/frontend/eslint.config.mjs
Labels: frontend

Improved game a little more
  src/frontend/eslint.config.mjs
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/mario-game-canvas.ts
  src/frontend/src/components/game/mario/mario-game-logic.ts
  src/frontend/src/components/game/mario/mario-keyboard.ts
  src/frontend/src/components/game/mario/mario-types.ts
Labels: frontend

Fix lint issues
  src/frontend/cspell.json
  src/frontend/server/vite-plugin-leaderboard.ts
  src/frontend/src/components/game/mario/LeaderboardOverlay.tsx
  src/frontend/src/components/game/mario/leaderboard-api.ts
  src/frontend/tsconfig.node.json
Labels: frontend

feat: Mario improvements (#984)
  src/backend/docker-compose.yml
  src/frontend/cspell.json
  src/frontend/eslint.config.mjs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/server/vite-plugin-leaderboard.ts
  src/frontend/src/assets/botvar_liten.png
  src/frontend/src/assets/bugvar_liten.png
  src/frontend/src/components/game/mario/LeaderboardOverlay.css
  src/frontend/src/components/game/mario/LeaderboardOverlay.tsx
  src/frontend/src/components/game/mario/MapEditor.tsx
  src/frontend/src/components/game/mario/MarioGame.tsx
  src/frontend/src/components/game/mario/leaderboard-api.ts
  src/frontend/src/components/game/mario/level-format.ts
  src/frontend/src/components/game/mario/level-loader.ts
  src/frontend/src/components/game/mario/levels/index.ts
  src/frontend/src/components/game/mario/levels/world-1-1.ts
  src/frontend/src/components/game/mario/levels/world-1-2.ts
  src/frontend/src/components/game/mario/levels/world-1-3.ts
  src/frontend/src/components/game/mario/mario-game-canvas.ts
  src/frontend/src/components/game/mario/mario-game-logic.ts
  src/frontend/src/components/game/mario/mario-input-helpers.ts
  src/frontend/src/components/game/mario/mario-keyboard.ts
  src/frontend/src/components/game/mario/mario-sounds.ts
  src/frontend/src/components/game/mario/mario-types.ts
  src/frontend/src/pages/index/+Page.tsx
  src/frontend/tsconfig.node.json
  src/frontend/vite.config.ts
Labels: backend, frontend

refactor: vike to react-router
  src/frontend/Dockerfile
  src/frontend/cspell.json
  src/frontend/index.html
  src/frontend/nginx/default.conf
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/main.tsx
  src/frontend/src/pages/+config.ts
  src/frontend/src/pages/_error/+Page.tsx
  src/frontend/src/pages/about/Page.tsx
  src/frontend/src/pages/blogs/Page.tsx
  src/frontend/src/pages/blogs/detail/Page.tsx
  src/frontend/src/pages/error/Page.tsx
  src/frontend/src/pages/index/Page.tsx
  src/frontend/src/renderer/+onRenderClient.tsx
  src/frontend/src/renderer/+onRenderHtml.tsx
  src/frontend/src/renderer/Link.tsx
  src/frontend/src/renderer/PageLayout.tsx
  src/frontend/src/router.tsx
  src/frontend/test/pages/index.test.tsx
  src/frontend/vite.config.ts
Labels: frontend

Remove max warnings
  src/frontend/package.json
Labels: frontend

fix: Lint issues
  src/frontend/app/root.tsx
  src/frontend/app/routes/about.tsx
  src/frontend/app/routes/blogs.$id.tsx
  src/frontend/app/routes/blogs.tsx
  src/frontend/app/routes/home.tsx
Labels: frontend

feat: Add OTEL to frontend and SSR
  src/frontend/app/entry.client.tsx
  src/frontend/app/entry.server.tsx
  src/frontend/app/otel/browser.ts
  src/frontend/app/otel/propagation.ts
  src/frontend/app/otel/server.ts
  src/frontend/app/otel/ssr-request.ts
  src/frontend/app/public-runtime-config.ts
  src/frontend/app/root.tsx
  src/frontend/app/vite-env.d.ts
  src/frontend/cspell.json
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend

feat: Add OTEL to frontend and SSR (#987)
  src/frontend/app/entry.client.tsx
  src/frontend/app/entry.server.tsx
  src/frontend/app/otel/browser.ts
  src/frontend/app/otel/propagation.ts
  src/frontend/app/otel/server.ts
  src/frontend/app/otel/ssr-request.ts
  src/frontend/app/public-runtime-config.ts
  src/frontend/app/root.tsx
  src/frontend/app/vite-env.d.ts
  src/frontend/cspell.json
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend
